<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sistem Sentimen Analisis - Pengaturan Kamus</title>
	
	<!-- CSS Bootstrap -->
	<link rel="icon" href="static/image/logo_signal.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	
	<!-- As a heading -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
		  <span class="navbar-brand mb-0 h1">Analisis Sentimen</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
		  	</button>
		  <div class="collapse navbar-collapse ml-auto" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('index')}}">Beranda <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('scrapReview')}}">Ambil Ulasan</a>
		      </li>
		     	<li class="nav-item active">
		        <a class="nav-link" href="{{url_for('manageDictionary')}}">Pengaturan Kamus</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{url_for('uploadReview')}}">Analisis</a>
		      </li>
		    </ul>
		  </div>
	 	</div>
	</nav>
	
	<!-- container -->
	<div class="container mt-5" >
		<div class="row h-100 justify-content-center align-content-center">
			<div class="col-8 text-center h4 ">
					Pengaturan Kamus Pada Sistem
			</div>
			<div class="row mt-3">
				<div class="col-12 text-center col-sm-6 mb-4">
					<div class="card mx-auto" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">Kamus Perbaikan Kata</h5>
					   	<a href="/manage_dictionary/download_dict/kamus_normalisasi.xlsx" class="btn btn-primary m-1">Unduh Kamus Perbaikan Kata</a>
					    <hr>
					    <p class="h5 mt-1">Perbarui Kamus Perbaikan Kata</p>
					    <form action="/manage_dictionary/update_normalize" method="POST" enctype="multipart/form-data">
					    <input type="file" name=file-upload required>
					    <button type="submit" class="m-1 btn" >Submit</button>
					    </form>
					  </div>
					</div>
				</div>
				<div class="col-12 col-sm-6 text-center mb-4">
					<div class="card mx-auto" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title">Kamus Stopwords</h5>
					    <a href="/manage_dictionary/download_dict/kamus_stopwords.txt" class="btn btn-primary m-1">Unduh Kamus Stopwords</a>
					    <hr>
					    <p class="h5 mt-1">Perbarui Kamus <br> Stopwords</p>
					    <form action="/manage_dictionary/update_stopwords" method="POST" enctype="multipart/form-data">
					    <input type="file" name=file-upload required>
					    <button type="submit" class="m-1 btn" >Submit</button>
					    </form>
					  </div>
					</div>
				</div>
			</div>
		</div>
		{% if msg == True%}
			<div class="alert alert-danger alert-dismissible col-12" role="alert">
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button> 
		        Harap upload  dengan <em>{{text}}</em> yang sama seperti diunduh.
	      	</div>
	     {% endif %}
	     {% if success == True%}
			<div class="alert alert-success alert-dismissible col-12" role="alert">
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button> 
		        Berhasil memperbarui {{text}}
	      	</div>
	     {% endif %}
	</div>
	<!-- endofcontainer -->
	<!-- script for Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>