<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Sistem Sentimen Analisis - Preprocessing Ulasan</title>
	<!-- <link rel="stylesheet" href=""> -->
	
	<!-- CSS Bootstrap -->
	<link rel="icon" href="static/image/logo_signal.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		table.fixed { 
			table-layout:fixed; 
			width: 100%;
			margin-left: 0px;
		}
		html, body{
			max-width: 100%;
			overflow-x: hidden;
		}
		th{
			font-size: 16px;
		}
		td{
			font-size: 14px;
		}
		@media (min-width: 300px) and (max-width: 1125px){
		table.fixed {
			table-layout:fixed; 
			width: 90%;
		}
		.hide{
			display: none;
		}
		th{
			width: 50px;
			font-size: 14px;
		}

		td{
			font-size: 12px;
		}
		
	}
	</style>
</head>
<body>
	
	<!-- As a heading -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
		  <span class="navbar-brand mb-0 h1">Analisis Sentimen SIGNAL</span>
	 	</div>
	</nav>
	
	<!-- container -->
	<div class="container">
		<div class="row my-3">
			<div class="col-12 col-md-10">
				<h5>Hasil Preprocessing</h5>			
			</div>
			<div class="col-2 text-right">
				<a class="btn btn-primary" href="{{url_for('modelResult')}}">Lanjut Analisis</a>
			</div>
			<div class="row mt-3"> 
		    {% block content %}
		    <table class="table fixed border mx-auto ">
		        <thead>
		            <tr class="text-center">
		                <th scope="col" width=5%>No</th>
		                <th scope="col" width=10% class="spec_class">User</th>
		                <th scope="col" width=14% class="spec_class">Ulasan</th>
		                <th scope="col" width=14% class="hide">Case Folding dan Cleaning</th>
		                <th scope="col" width=14% class="hide">Tokenizing</th>
		                <th scope="col" width=14% class="hide">Perbaikan Kata</th>
		                <th scope="col" width=14% class="hide">Filtering</th>
		                <th scope="col" width=10% class="spec_class">Stem / Final</th>
		                <th scope="col" width=5%>Label</th>

		            </tr>
		        </thead>
		        <tbody>
		        {% for row in data1.index %}
		            <tr class="text-center">
		            	<td>{{loop.index}}</td>
		                <td>{{data1['nama_pengguna'][row]}}</td>
		                <td>{{data1['ulasan'][row]}}</td>
		                <td class="hide">{{data1['Case Folding dan Cleansing'][row]}}</td>
		                <td class="hide">{{data1['Tokenizing'][row]}}</td>
		                <td class="hide">{{data1['Perbaikan Kata'][row]}}</td>
		                <td class="hide">{{data1['Filtering'][row]}}</td>
		                <td>{{data1['Stemming'][row]}}</td>
		                <td>{{data1['label'][row]}}</td>
		            </tr>
		        {% endfor %}
		        </tbody>
		    </table>
		    {% endblock %}
			</div>
		</div>
	</div>
	<!-- endofcontainer -->
	
	<!-- script for Bootstrap-->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>